html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("./images/slate-tile.jpg");
}

/* div {
  border: 1px solid blue;
} */

header {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 20px;
  position: fixed;
}

#headerContainer {
  width: 90%;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 25px;
  box-shadow: 0 0 15px #fff, inset 0 0 10px #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  font-size: 1em;
}

#headerBackground {
  background-image: url("./images/slate-tile.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.9;
  border-radius: 25px;
}

nav {
  margin-right: 20px;
}

a {
  color: #fff;
  margin: 20px;
  text-decoration: none;
  cursor: default;
}
a:hover {
  text-shadow: 0 0 10px #fff !important;
}

header a:hover {
  color: #aaf !important;
}

#container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  height: min-content;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projectContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.projectBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  min-width: 230px;
  max-width: 900px;
  height: min-content;
  margin: 10px;
  padding: 20px;
  box-shadow: 1px 1px 10px #666;
  border-radius: 6px;
}

#projectContainer a {
  text-decoration: none;
  color: #fff;
  margin: 10px;
}

#projectContainer a:hover {
  cursor: default;
}

#projectContainer img {
  margin-top: 10px;
  border: 1px solid #888;
  width: 100%;
  max-width: 400px;
}

.projectDetails {
  min-width: 50%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linksBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: 10px;
}

.description {
  text-align: center;
  margin: 20px;
  color: #fff;
}

#aboutText {
  width: 80%;
  max-width: 850px;
  margin: 2em 0;
  text-align: center;
  color: #fff;
  font-size: 1em;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aboutText div:first-child {
  margin-bottom: 1em;
}

#skillsContainer div {
  color: #fff;
  width: 80%;
}

#skillsContainer div:first-child {
  margin-top: 0;
}

#skillsContainer img {
  width: 50%;
  height: 50%;
  box-shadow: 1px 1px 15px #888;
  margin: 10px;
}

#skillsBox {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
}

#listBox {
  font-size: 0.9em;
  text-align: left;
  width: min-content;
  line-height: 1.2;
}

#listBox:first-child {
  margin-top: 1em;
}

#langSelect {
  color: #fff;
  display: flex;
  width: 80%;
  max-width: 850px;
  margin-top: 1em;
  flex-direction: row;
  justify-content: flex-end;
  cursor: default;
}

#selector span:hover {
  text-shadow: 0 0 10px #fff !important;
  color: #aaf !important;
}

#contactDetails {
  text-align: center;
  color: #fff;
  font-size: 1.4em;
  margin-top: 1em;
  margin-bottom: 10em;
  padding: 5px;
}

#contactDetails p:first-child {
  margin-top: 3em;
}

#emailLink {
  text-decoration: none;
  cursor: default;
  color: #fff;
}

@media screen and (min-width: 700px) {
  header {
    font-size: 1.2em;
  }

  .projectBox {
    flex-direction: row;
    font-size: 1.2em;
  }

  .projectBox img {
    margin: 10px 20px;
  }

  .projectDetails {
    margin: 10px 20px;
  }

  #aboutText {
    font-size: 1.2em;
  }

  #listBox {
    font-size: 1em;
  }

  #contactDetails {
    font-size: 1.8em;
  }
}
