html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./images/slate-tile.jpg");
}

header {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 20px;
  position: fixed;
}

#headerContainer {
  width: 90%;
  height: 50px;
  background-image: url("./images/slate-tile.jpg");
  opacity: 0.9;
  border: 1px solid #fff;
  border-radius: 25px;
  box-shadow: 0 0 15px #fff, inset 0 0 10px #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

nav {
  margin-right: 20px;
}

a {
  color: #fff;
  margin: 20px;
  text-decoration: none;
  cursor: default;
}
a:hover {
  text-shadow: 0 0 10px #fff;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 90%;
  height: 800px;
  border: 1px solid #00f;
}
